.post .container{
    width: 200px;
    height: 200px;
    background-color: red;
    padding: 20px;
    position: relative;
    transition: .6s;
}
.post .hover-effects::after {
    content: "";
    width: 0%;
    height: 0%;
    position: absolute;
    top: 0;
    left: 0;
    border-left: 1px solid green;
    margin: 10px;
    border-top: 1px solid green;
    transition: .4s;
}
.post .container:hover .hover-effects::after{
    width: 50%;
    height: 50%;
}